.palette_color-0 {
    background: rgb(41, 32, 32) !important;
}

.palette_color-1 {
    background: rgb(49, 45, 40) !important;
}

.palette_color-2 {
    background: rgb(70, 52, 44) !important;
}

.palette_color-3 {
    background: rgb(64, 30, 22) !important;
}

.palette_color-4 {
    background: rgb(128, 62, 34) !important;
}

.palette_color-5 {
    background: rgb(154, 80, 44) !important;
}

.palette_color-6 {
    background: rgb(174, 111, 71) !important;
}

.palette_color-7 {
    background: rgb(151, 94, 61) !important;
}

.palette_color-8 {
    background: rgb(162, 108, 72) !important;
}
.palette_color-9 {
    background: rgb(164, 116, 79) !important;
}
.palette_color-10 {
    background: rgb(182, 138, 93) !important;
}
.palette_color-11 {
    background: rgb(217, 181, 100) !important;
}
.palette_color-12 {
    background: rgb(227, 197, 140) !important;
}
.palette_color-13 {
    background: rgb(216, 171, 103) !important;
}
.palette_color-14 {
    background: rgb(248, 218, 151) !important;
}
.palette_color-15 {
    background: #f4dfb6 !important;
}
.palette_color-16 {
    background: #b28157 !important;
}
.palette_color-17 {
    background: #613221 !important;
}
.palette_color-18 {
    background: #9d432e !important;
}
.palette_color-19 {
    background: #591110 !important;
}
.palette_color-20 {
    background: #921a14 !important;
}
.palette_color-21 {
    background: #b83122 !important;
}
.palette_color-22 {
    background: #d3391f !important;
}
.palette_color-23 {
    background: #ed5620 !important;
}.palette_color-24 {
     background: #c55c37 !important;
 }
.palette_color-25 {
    background: #d65124 !important;
}
.palette_color-26 {
    background: #66534b !important;
}
.palette_color-27 {
    background: #ab8f78 !important;
}.palette_color-28 {
     background: #d8c4b5 !important;
 }
.palette_color-29 {
    background: #efdfd2 !important;
}
.palette_color-30 {
    background: #755063 !important;
}
.palette_color-31 {
    background: #a77182 !important;
}.palette_color-32 {
     background: #bc5e78 !important;
 }
.palette_color-33 {
    background: #f333ba !important;
}
.palette_color-34 {
    background: #f83d7e !important;
}
.palette_color-35 {
    background: #fa9fa9 !important;
}
.palette_color-36 {
    background: #1baa9c !important;
}.palette_color-37 {
     background: #097987 !important;
 }
.palette_color-38 {
    background: #094c7b !important;
}
.palette_color-39 {
    background: #609f54 !important;
}
.palette_color-40 {
    background: #257148 !important;
}
.palette_color-41 {
    background: #2a554d !important;
}
.palette_color-42 {
    background: #9eb127 !important;
}
.palette_color-43 {
    background: #a9c614 !important;
}
.palette_color-44 {
    background: #569f22 !important;
}
.palette_color-45 {
    background: #f0c764 !important;
}.palette_color-46 {
     background: #e9b013 !important;
 }
.palette_color-47 {
    background: #f1930e !important;
}
.palette_color-48 {
    background: #f37816 !important;
}
.palette_color-49 {
    background: #fb6510 !important;
}
.palette_color-50 {
    background: #fe721b !important;
}
.palette_color-51 {
    background: #ee3d18 !important;
}
.palette_color-52 {
    background: #ef3815 !important;
}
.palette_color-53 {
    background: #cf0c0e !important;
}
.palette_color-54 {
    background: #8a0a0e !important;
}.palette_color-55 {
     background: #2d1c17 !important;
 }
.palette_color-56 {
    background: #40271c !important;
}
.palette_color-57 {
    background: #6e442f !important;
}
.palette_color-58 {
    background: #4f2d1f !important;
}
.palette_color-59 {
    background: #3d2219 !important;
}
.palette_color-60 {
    background: #2f2117 !important;
}
.palette_color-61 {
    background: #0b0c0f !important;
}.palette_color-62 {
     background: #e1b479 !important;
 }
.palette_color-63 {
    background: #b18053 !important;
}

.palette_color-eyes-0 {
     background: #16d904 !important;
 }
.palette_color-eyes-1 {
    background: #50c878 !important;
}
.palette_color-eyes-2 {
    background: #add8e6 !important;
}
.palette_color-eyes-3 {
    background: #0077be !important;
}
.palette_color-eyes-4 {
    background: #b5651d !important;
}
.palette_color-eyes-5 {
    background: #654321 !important;
}
.palette_color-eyes-6 {
    background: #d0c383 !important;
}
.palette_color-eyes-7 {
    background: #696969 !important;
}
.palette_color-eyes-8 {
    background: #a9a9a9 !important;
}
.palette_color-eyes-9 {
    background: #ffc0cb !important;
}
.palette_color-eyes-10 {
    background: #ffff00 !important;
}
.palette_color-eyes-11 {
    background: #800080 !important;
}
.palette_color-eyes-12 {
    background: #2e293a !important;
}
.palette_color-eyes-13 {
    background: #999999 !important;
}
.palette_color-eyes-14 {
    background: #3D4B52 !important;
}
.palette_color-eyes-15 {
    background: #374467 !important;
}
.palette_color-eyes-16 {
    background: #ff8100 !important;
}
.palette_color-eyes-17 {
    background: #55445E !important;
}
.palette_color-eyes-18 {
    background: #6b83a9 !important;
}
.palette_color-eyes-19 {
    background: #7d222b !important;
}
.palette_color-eyes-20 {
    background: #90cc79 !important;
}
.palette_color-eyes-21 {
    background: #a11f1f !important;
}
.palette_color-eyes-22 {
    background: #a0d29e !important;
}
.palette_color-eyes-23 {
    background: #bcdbff !important;
}
.palette_color-eyes-24 {
    background:  #ffebc1 !important;
}
.palette_color-eyes-25 {
    background: #773355 !important;
}
.palette_color-eyes-26 {
    background: #450000 !important;
}
.palette_color-eyes-27 {
    background: #891414 !important;
}
.palette_color-eyes-28{
    background: #6CC417 !important;
}
.palette_color-eyes-29 {
    background: #58b42e !important;
}
.palette_color-eyes-30 {
    background: #78C165 !important;
}
