@font-face {
    font-family: UniNeueBold;
    src: url(fonts/UniNeueBold.ttf);
}

#chat, #chat input#chat_msg, #chat ul#chat_messages {
    font-family: UniNeueBold, sans-serif;
}

#chat, #chat input#chat_msg {
    color: #fff;
}

body {
    margin: 0 0 0 5px
}

#chat {
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.4px;
    user-select: none;
    margin: 20px 0 0 25px;
}

@media screen and (min-height: 166.9242658423493vh) {
    #chat {
        font-size: 18px !important;
        font-weight: 700
    }
}

#chat ul#chat_messages {
    height: 240px;
    padding: 0;
    margin: 0;
    width: 45%;
    min-height: 2vh;
    font-size: 15px;
    word-wrap: break-word;
    text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
    overflow: auto;
    direction: rtl;
}

#chat input#chat_msg {
    margin-top: 5px;
    background: rgba(24, 20, 20, 0.5);
    outline: 0;
    border: none;
    font-size: 15px;
    line-height: 35px;
    width: 35%;
    padding: 5px 5px 5px 15px;
    border-radius: 26.5px;
}

#chat_channels li {
    float: left;
    border: .1545595054095827vh solid #000;
    list-style-type: none;
    padding: 5px 15px;
    margin: 5px 5px 0 0;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: none
}

#chat_channels li#active {
    color: #a545a5
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(24, 20, 20, 0.5);
    border-radius: 3.5px;
}

#chat ul#chat_messages > li {
    list-style-type: none;
    direction: ltr;
    text-align: left;
    left: 10px;
    position: relative;
}