@font-face {
    font-family: SignPainter-HouseScript;
    src: url(fonts/SignPainter-HouseScript.otf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/roboto-bold.ttf);
}
@font-face {
    font-family: Bebas-Neue;
    src: url(fonts/Bebas-Neue.ttf);
}
body {
    /*background: url(images/bg.png) no-repeat center center fixed;*/
    /*background-size: cover; !* Современные браузеры *!*/
    color:#FFFFFF;
    font-size: 0.8vw;
}



.wrapper{
    display: block;
    width:600px;
    height:100%;
}


.creator_box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0, 0.6) 0% 0% no-repeat padding-box;
    border-radius: 1vw;
    width:21vw;
    height: 90vh;
    padding: 1px;
    margin-left: 1vw;
}

.head{
    width: 100%;
    height:15vh;
    padding: 1px;
}

.section{
    width: 100%;
    text-align: center;
}


.section_button{
    padding: 0.9vh 0 0.9vh 0;
    font-family: Roboto-Bold;
    text-align: center;
    width:5.5vw;
    font-size: 0.7vw;
    margin: 0 0.3vw 0 0.3vw;
    border-radius: 4vw;
    display: inline-block;
    cursor: pointer;
    background: rgb(211,22,73) 0% 0% no-repeat padding-box;
}
.title {
    width:100%;
    margin: 4vh 0 3vh 0;
    padding: 1px;
}

.title h2 {
    font-family: SignPainter-HouseScript, Regular, cursive;
    font-size: 2.5vw;
    text-align: center;
    margin: 0;
    font-weight: inherit;
    letter-spacing: 0;
    color: #FFFFFF;
}

.content {
    width:100%;
    height:64vh;
    padding: 1px;
    font-size: 1.3vw;
}

.subject {
    width: 92%;
    margin: 4vh 0 0 0;
    padding: 0 0 0 8%;
}

.subject-gender {
    width: 100%;
    text-align: center;
    margin: 1vh 0 0 0;
}

.gender{
    width: 100%;
    heigth: 11vh;
    padding: 1px;
}

.gender .gender_item {
    display: inline-block;
    width: 3vw;
    margin: 0 auto;
    text-align: center;
}

.gender_chose {
    cursor: pointer;
    background: rgb(211,22,73);
    display: inline-block;
    border-radius: 100%;
    padding: 0.7vw;
}
.gender_chose > img {
    display: block;
    width: 1vw;
    height: 1vw;
}

/*.gender .label{
    display: block;
    font-family: Bebas-Neue, Regular, monospace;
}*/

.line {
    width: 90%;
    height: 6vh;
    line-height: 6vh;
}

.line .property-name{
    vertical-align: middle;
    display: inline-block;
    font-family: Bebas-Neue, Regular, monospace;
    height: 2vw;
}

.line .property-value{
    vertical-align: middle;
    text-align: center;
    font-family: SignPainter-HouseScript, Regular, cursive;
    width: 7vw;
    height: 5.5vh;
    display: inline-block;
}
.line .property-arrow_left,
.line .property-arrow_right{
    vertical-align: middle;
    cursor: pointer;
    background: rgba(211,22,73, 0.51);
    display: inline-block;
    border-radius: 100%;
    padding: 0.5vw;
    text-align: center;
}
.line .property-arrow_left > img,
.line .property-arrow_right > img{
    display: block;
    width: 0.5vw;
    height: 0.5vw;
}
.line .property-arrow_left > img{
    transform: rotate(180deg);
}
.line .retreat {
    display: inline-block;
    float: right;
    height: 6vh;
}
.line .retreat input[type='range'] {
    margin-top: 2.8vh;
    -webkit-appearance: none;
    width: 10vw;
    border-radius: 4vw;
    height: 0.5vh;
    background: -webkit-linear-gradient(left, rgba(211, 22, 73, 1) 0%,  rgba(211, 22, 73, 1) 50%, rgba(211, 22, 73,0.3) 50%);
}

.line .retreat input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: rgb(211,22,73);
    height: 1vw;
    width: 1vw;
}

input[type=range]:focus {
    outline: none;
}

.footer {
    width:100%;
    height: 10vh;
    padding: 1px;
    text-align: center;
    line-height: 10vh;
}
.footer .button_cancel,
.footer .button_save {
    display: inline-block;
    vertical-align:middle;
    line-height: normal;
    padding: 1.3vh 0 1.3vh 0;
    font-family: Roboto-Bold, serif;
    width:7vw;
    font-size: 0.9vw;
    margin: 0 1.7vw 0 1.7vw;
    border-radius: 4vw;
    cursor: pointer;
    background: rgb(211,22,73) 0% 0% no-repeat padding-box;
}

.footer .button_cancel{
    background: rgb(61, 58, 59) 0% 0% no-repeat padding-box;
}

.warning_message {
    background: cornflowerblue;
    opacity: 0.8;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 40%;
}

