@font-face {
    font-family: SignPainter-HouseScript;
    src: url("fonts/SignPainter-HouseScript.otf");
}

@font-face {
    font-family: UniSans-Regular;
    src: url("fonts/UniSans-Regular.ttf");
}

@font-face {
    font-family: UninSans-SemiBold;
    src: url("fonts/UninSans-SemiBold.ttf");
}

@font-face {
    font-family: HelveticaNeue-Regular;
    src: url("fonts/HelveticaNeue-Regular.ttf");
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("fonts/HelveticaNeueLight.ttf");
}

@font-face {
    font-family: AdobeClean-Light;
    src: url("fonts/AdobeClean-Light.ttf");
}

@font-face {
    font-family: UniSans-Light;
    src: url("fonts/UniSans-Light.otf");
}

@font-face {
    font-family: UniSans-Heavy;
    src: url("fonts/UniSans-Heavy.otf");
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url("fonts/ubuntu-bold.ttf");
}

@font-face {
    font-family: Ubuntu-Condensed;
    src: url("fonts/Ubuntu-Condensed.ttf");
}

@font-face {
    font-family: Ubuntu-Condensed;
    src: url("fonts/Ubuntu-Condensed.ttf");
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("fonts/ubuntu-light.ttf");
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url("fonts/ubuntu-medium.ttf");
}

@font-face {
    font-family: UniNeueBold;
    src: url("fonts/UniNeueBold.ttf");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("fonts/SegoiUI-Bold.ttf");
}

@font-face {
    font-family: Pricedown;
    src: url("fonts/PriceDown.ttf");
}

@font-face {
    font-family: "Ubuntu-Medium Italic";
    src: url("fonts/UbuntuItalic.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("fonts/roboto-bold.ttf");
}

@font-face {
    font-family: Bebas-Neue;
    src: url("fonts/Bebas-Neue.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("fonts/roboto-light.ttf");
}